*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(#FFFFFF, #F0F1FF);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*row like*/
    height: 100px;
    width: 80%;
    margin: 0 auto; /*center the div*/
}

header .btn {
    background: #13183F;
    color: white;
    cursor: pointer;
    height: 56px;
    width: 157px;
    border-radius: 30px;
    border: none;
    z-index: 0;
}

.hero {
    z-index: 0;
    height: 80vh;
    display: grid;/*turns div table like*/
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    /* position: absolute; */
}

.hero-content {
    height: 500px;
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 130px;
}

.hero-content h1 {
    margin-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
}

.hero-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #83869A;
}

.hero-content .btn {
    background: linear-gradient(#F02AA6, #FF6f48);
    margin-top: 40px;
    color: white;
    cursor: pointer;
    height: 56px;
    width: 157px;
    border-radius: 30px;
    border: none;
}

.hero-image{
    background: url('./assets/image-hero-desktop.png');
    width: 991.63px;
    height: 936.92px;
    right: -295px;
    top: -310px;
    position: relative;
} 

.courses {
    margin-left: 130px;
    display: grid;
    /* z-index: 0; */
    margin-top: 10rem;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 322px 322px;
    row-gap: 8rem;
    justify-content: space-between; 
    margin-bottom: 4rem;
}

.card p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #83869A;
}

.courses h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.popular {
    display: flex;
    color: white;
    background: linear-gradient(#F02AA6, #FF6f48);
    border-radius: 15px;
    padding: 4rem 2rem  ;
}

.gta {
    color: #F74780 !important;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 1rem 3rem;
    /* box-shadow: 4rem; */
    /* background-color: purple; */
    position: relative;
    box-shadow: 0px 16px 23px 8px rgba(0,0,0,0.1);
}

.icon-container {
    position: absolute;
    bottom: 288px;
    /* right: 0px; */
}

.footer-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between; /*row like*/
    height: 100px;
    width: 80%;
    margin: 0 auto;
     /*center the div*/
}

footer {
    /* padding-top: 30px; */
    margin-top: 8rem;
    display: flex;
    background-color: hsl(233, 54%, 16%);
}

.footer-container .btn {
    background: linear-gradient(#F02AA6, #FF6f48);
    color: white;
    cursor: pointer;
    height: 56px;
    width: 157px;
    border-radius: 30px;
    border: none;
}