*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*row like*/
    height: 100px;
    width: 80%;
    margin: 0 auto; /*center the div*/
}

header .btn {
    background: #13183F;
    color: white;
    cursor: pointer;
    height: 56px;
    width: 157px;
    border-radius: 30px;
    border: none;
    z-index: 100;
}

.hero {
    height: 80vh;
    display: grid;/*turns div table like*/
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    height: 500px;
    /* width: 150%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 100px;
}

.hero-image{
    background: url('./assets/image-hero-desktop.png');
    width: 991.63px;
    height: 936.92px;
    right: -262px;
    top: -230px;
    position: relative;
} 