*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*row like*/
    height: 100px;
    width: 80%;
    margin: 0 auto; /*center the div*/
}

header .btn {
    background: #13183F;
    color: white;
    cursor: pointer;
    height: 56px;
    width: 157px;
    border-radius: 30px;
    border: none;
    z-index: 100;
}

.hero {
    display: grid;/*turns div table like*/
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
}

.hero-image{
    background: url('./assets/image-hero-desktop.png');
    width: 991.63px;
    height: 936.92px;
    right: -262px;
    top: -126px;
    position: absolute;
} 